
*{
  box-sizing: border-box;
}
/*left-side block starts*/
  .left-side {
   width: 30%;
   height:850px;
   box-shadow: -1px 4px 25px 2px rgba(12, 12, 12,0.418);
   margin-left: 4px;
   margin-top: 12px;
   float:left; 
   background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(248,81,3,0.20));
}
.profile-pic{
  height:350px;
  width: 100%;
}
.my-profile{
  text-align: center;
  border:1px  solid black;
}
/*left-side block ends*/

/*for floating right*/
.right-side{ 
   float:right;  
}

/*common block for the all the blocks*/
.common{
   width:67%;
   height:100px;
   box-shadow: -1px 4px 25px 2px rgba(12, 12, 12, 0.418);
   margin:12px 0px 4px 4px;
   border-left:5px solid  rgba(248, 81, 3, 0.753);
   background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(248,81,3,0.20));
}

/*common for all texts*/
.comTextFont{
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(21, 136, 29);
  margin-left: 2px;
  margin-left:4px;
  margin-top:5px;
}
/*commom for all the icons*/
i{
  font-size: 30px;
  color:rgb(21, 136, 29);
}
/*about block starts*/
.about{
  height:200px;
 
}
.title1{
  font-size: 30px;
}
.aboutContainer{
  margin-left: 40px;
  margin-top: 20px;
}
.content{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
/*about block ends*/

/*vision block starts*/
.vision{
   height:100px;
   
 }
.title2{
font-size: 20px;
}
.sub-title2{
color:black;

}
.visionContainer{
  margin-left: 40px;
  margin-top: 20px;
}
/*vision block ends*/

/*Education block starts*/
.education{
  height:400px;
}
.educationContainer{
  margin-left: 40px;
  margin-top: 20px;
}
.title3{
 font-size: 30px;
}
.qualification{
  color:black;
}
.certificate{
  margin-left:30px;
 border:2px solid  rgba(248, 81, 3, 0.753);
 padding: 8px;
 border-radius:40%;
}
#branch{
  color:black;
}

/*Education block ends*/

/*projects block starts*/

.projects{
  height:400px;
}
.title4{
  font-size: 30px;

}
.projectContainer{
  margin-left: 40px;
  margin-top: 20px;
}
/*projects block ends*/

/*footer block starts*/
.footer{
  width: 100%;
  height: 150px;
  background-color: rgba(248, 81, 3, 0.753);
  margin:12px 0px 4px 3px;
  position: relative;
}

.title5{
 font-family: Arial, Helvetica, sans-serif;
 position: absolute;
 top:5%;
 right:40%;
 color:rgb(3, 53, 3);

}
.socialLinks{
  position: absolute;
  top:45%;
 right:45%;
}
.linkedin{
  position: absolute;
  top:60%;
 right:40%;
}
/*footer block ends*/
